* text=auto
# Force batch scripts to use CRLF.
*.bat text eol=crlf
OWNERS filter=lfs diff=lfs merge=lfs -text
pw_thread_embos filter=lfs diff=lfs merge=lfs -text
pw_polyfill filter=lfs diff=lfs merge=lfs -text
pw_thread_freertos filter=lfs diff=lfs merge=lfs -text
pw_chrono_freertos filter=lfs diff=lfs merge=lfs -text
pw_cpu_exception filter=lfs diff=lfs merge=lfs -text
pw_doctor filter=lfs diff=lfs merge=lfs -text
pw_chrono_stl filter=lfs diff=lfs merge=lfs -text
pw_containers filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
pw_i2c filter=lfs diff=lfs merge=lfs -text
targets filter=lfs diff=lfs merge=lfs -text
pw_kvs filter=lfs diff=lfs merge=lfs -text
pw_minimal_cpp_stdlib filter=lfs diff=lfs merge=lfs -text
pw_persistent_ram filter=lfs diff=lfs merge=lfs -text
pw_string filter=lfs diff=lfs merge=lfs -text
pw_sync_stl filter=lfs diff=lfs merge=lfs -text
pw_thread_stl filter=lfs diff=lfs merge=lfs -text
pw_docgen filter=lfs diff=lfs merge=lfs -text
pw_log_rpc filter=lfs diff=lfs merge=lfs -text
pw_multisink filter=lfs diff=lfs merge=lfs -text
pw_web_ui filter=lfs diff=lfs merge=lfs -text
pw_chrono_threadx filter=lfs diff=lfs merge=lfs -text
pw_malloc filter=lfs diff=lfs merge=lfs -text
pw_trace_tokenized filter=lfs diff=lfs merge=lfs -text
pw_interrupt filter=lfs diff=lfs merge=lfs -text
pw_log_null filter=lfs diff=lfs merge=lfs -text
pw_sys_io_baremetal_stm32f429 filter=lfs diff=lfs merge=lfs -text
pw_metric filter=lfs diff=lfs merge=lfs -text
pw_protobuf_compiler filter=lfs diff=lfs merge=lfs -text
pw_result filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
pw_env_setup filter=lfs diff=lfs merge=lfs -text
pw_rpc filter=lfs diff=lfs merge=lfs -text
pw_sync_embos filter=lfs diff=lfs merge=lfs -text
pw_unit_test filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
pw_chrono_embos filter=lfs diff=lfs merge=lfs -text
PW_PLUGINS filter=lfs diff=lfs merge=lfs -text
pw_sync_threadx filter=lfs diff=lfs merge=lfs -text
pw_trace filter=lfs diff=lfs merge=lfs -text
BUILD.gn filter=lfs diff=lfs merge=lfs -text
pw_assert_log filter=lfs diff=lfs merge=lfs -text
pw_blob_store filter=lfs diff=lfs merge=lfs -text
pw_preprocessor filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
pw_build filter=lfs diff=lfs merge=lfs -text
pw_bytes filter=lfs diff=lfs merge=lfs -text
pw_stream filter=lfs diff=lfs merge=lfs -text
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
pw_arduino_build filter=lfs diff=lfs merge=lfs -text
pw_span filter=lfs diff=lfs merge=lfs -text
pw_tokenizer filter=lfs diff=lfs merge=lfs -text
tsconfig.json filter=lfs diff=lfs merge=lfs -text
BUILD filter=lfs diff=lfs merge=lfs -text
docker filter=lfs diff=lfs merge=lfs -text
pw_malloc_freelist filter=lfs diff=lfs merge=lfs -text
pw_sync filter=lfs diff=lfs merge=lfs -text
pw_sys_io_baremetal_lm3s6965evb filter=lfs diff=lfs merge=lfs -text
third_party filter=lfs diff=lfs merge=lfs -text
activate.bat filter=lfs diff=lfs merge=lfs -text
activate.sh filter=lfs diff=lfs merge=lfs -text
modules.gni filter=lfs diff=lfs merge=lfs -text
bootstrap.sh filter=lfs diff=lfs merge=lfs -text
pw_assert_basic filter=lfs diff=lfs merge=lfs -text
pw_log filter=lfs diff=lfs merge=lfs -text
pw_log_multisink filter=lfs diff=lfs merge=lfs -text
pw_thread filter=lfs diff=lfs merge=lfs -text
pw_tool filter=lfs diff=lfs merge=lfs -text
pw_varint filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
pw_assert filter=lfs diff=lfs merge=lfs -text
pw_log_basic filter=lfs diff=lfs merge=lfs -text
pw_package filter=lfs diff=lfs merge=lfs -text
pw_status filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
pw_allocator filter=lfs diff=lfs merge=lfs -text
pw_module filter=lfs diff=lfs merge=lfs -text
pw_bloat filter=lfs diff=lfs merge=lfs -text
pw_cpu_exception_cortex_m filter=lfs diff=lfs merge=lfs -text
pw_hdlc filter=lfs diff=lfs merge=lfs -text
pw_boot_armv7m filter=lfs diff=lfs merge=lfs -text
pw_thread_threadx filter=lfs diff=lfs merge=lfs -text
pw_watch filter=lfs diff=lfs merge=lfs -text
pw_router filter=lfs diff=lfs merge=lfs -text
BUILDCONFIG.gn filter=lfs diff=lfs merge=lfs -text
pw_checksum filter=lfs diff=lfs merge=lfs -text
pw_target_runner filter=lfs diff=lfs merge=lfs -text
pw_log_tokenized filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
pw_interrupt_cortex_m filter=lfs diff=lfs merge=lfs -text
pw_hex_dump filter=lfs diff=lfs merge=lfs -text
pw_random filter=lfs diff=lfs merge=lfs -text
pw_base64 filter=lfs diff=lfs merge=lfs -text
pw_sync_baremetal filter=lfs diff=lfs merge=lfs -text
pw_sync_freertos filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
pw_chrono filter=lfs diff=lfs merge=lfs -text
pw_ring_buffer filter=lfs diff=lfs merge=lfs -text
pw_fuzzer filter=lfs diff=lfs merge=lfs -text
pw_sys_io_arduino filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
bootstrap.bat filter=lfs diff=lfs merge=lfs -text
pw_sys_io_stdio filter=lfs diff=lfs merge=lfs -text
WORKSPACE filter=lfs diff=lfs merge=lfs -text
build_overrides filter=lfs diff=lfs merge=lfs -text
pw_presubmit filter=lfs diff=lfs merge=lfs -text
pw_sys_io filter=lfs diff=lfs merge=lfs -text
pw_cli filter=lfs diff=lfs merge=lfs -text
pw_protobuf filter=lfs diff=lfs merge=lfs -text
pw_toolchain filter=lfs diff=lfs merge=lfs -text
pw_log_sink filter=lfs diff=lfs merge=lfs -text
yarn.lock filter=lfs diff=lfs merge=lfs -text
